edgerc_section = "default"
contract_id = "ctr_1-5C13O2"
group_id = "grp_315874"
hostnames = ["${MATRIX_NAME}.terra.rafa.cr"]
name = "${MATRIX_NAME}.terra.rafa.cr"
cpcode_name = "${MATRIX_NAME}.terra.rafa.cr"
default_origin = "flexibleorigin.rafa.cr"
notification_emails = ["test@akamai.com"]
version_notes = "GitHub Actions test"
certificate_id = 30192
peer_reviewed_by = "test@na.com"
customer_email = "test@akamai.com"
unit_tested = true
ticket_id = "some-ticket-id"
noncompliance_reason = ["NONE"]
other_noncompliance_reason = "test"
td_region = "CH2"
ip_behavior = "IPV6_PERFORMANCE"
sure_route_test_object = "/terraform/srto.html"
activation_notes = "GitHub Actions test"
activation_to_staging_exists = false
activation_to_production_exists = false
additional_origins=null